<h1 class="text-center fw-bold">Editar turno</h1>

<%= render "form", turn: @turn %>

<br>

<div class= "text-center fw-bold">
  <%= link_to "Ver turno", @turn %> |
  <%= link_to "Volver a turnos", turns_path %>
</div>
