<p style="color: green"><%= notice %></p>

<h1>Mis turnos</h1>

<div id="turns">
  <% @turns.each do |turn| %>
    <%= render turn %>
    <p>
      <%= link_to "Ver turno", turn %>
    </p>
  <% end %>
</div>
