<%= render @turn %>

<div class="container">
  <div class= "row text-center">
    <% if @turn.state == false %>
      <div class = "col-4 fw-bold">
        <%= link_to "Editar turno", edit_turn_path(@turn) %>
      </div>
      <div class = "col-4">
        <%= button_to "Eliminar turno", @turn, method: :delete %>
      </div>
    <% end %>
    <div class = "col-4 fw-bold">
      <%= link_to "Volver a turnos", turns_path %>
    </div>
  </div>
</div>
