<div id="<%= dom_id branch_office %>">
  <p>
    <strong>Name:</strong>
    <%= branch_office.name %>
  </p>

  <p>
    <strong>Direc:</strong>
    <%= branch_office.direc %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= branch_office.tel %>
  </p>

</div>
