<h1>Editing branch_office</h1>

<%= render "form", branch_office: @branch_office %>

<br>

<div>
  <%= link_to "Show this branch_office", @branch_office %> |
  <%= link_to "Back to branch_offices", branch_offices_path %>
</div>
