<div id="<%= dom_id sucursale %>">
  <p>
    <strong>Name:</strong>
    <%= sucursale. name %>
  </p>

  <p>
    <strong>Direc:</strong>
    <%= sucursale.direc %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= sucursale.tel %>
  </p>

</div>
